body {
    background-image: url("resources/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Arbutus Slab', serif;
}

/*general*/
a {
    text-decoration: none;
    color: #21007e;
}

a:hover {
    color: #dbeaff;
}

a:active {
    color: blue;
}

.link_about{
    color: #dbeaff;
}

.link_about:hover{
    color:blue;
}

li {
    margin: 30px 30px;
    font-size: large;
}

h1 {
    font-size: 60px;
    color: #dbeaff;
    text-shadow:2px 2px #FF0000 ;
}

h2 {
    font-size: 40px;
    color: #dbeaff;
    text-shadow:2px 2px #FF0000 ;
}

h3{
    color: #dbeaff;
    text-shadow: 2px 2px #0a035a;
}

p{
    color: #dbeaff;
    text-shadow: 2px 2px #0a035a;
}

.current_page {
    box-shadow: 0 0 20px 4px #4e60e0;
}

ul {
    padding: 0;
}

.button {
    position: relative;
    height: 3rem;
    width: 9rem;
    border: 6px solid #3300ff;
    background: rgba(0,0,0,0.01);
    backdrop-filter: blur(4px);
    color: #dbeaff;
    text-shadow: 2px 2px #4b011e;
    -webkit-backdrop-filter: blur(4px);
    font-weight: bold;
    font-family: 'Arbutus Slab', serif;
    font-size: 15px;

}

.button::before,
.button::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: inherit;
    transition: 0.5s ease;
}

.button::before {
    left: -12px;
    top: -12px;
    border-width: 3px 0 0 3px;
}

.button::after {
    right: -12px;
    bottom: -12px;
    border-width: 0 3px 3px 0;
}

.button:hover::after,
.button:hover::before {
    width: calc(100% + 27px);
    height: calc(100% + 27px);
}


/*header*/
.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 15px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(https://media0.giphy.com/media/U3qYN8S0j3bpK/giphy.gif?cid=ecf05e4…&rid=giphy.gif&ct=g);
    border-radius: 85px;
    box-shadow: 2px 1px 20px 5px #775ca9;
}

.logo {
    box-shadow: 0 0 7px 6px #372764;
    border-style: double;
    background-image: url("https://media0.giphy.com/media/U3qYN8S0j3bpK/giphy.gif?cid=ecf05e47f1c1b36712e2d00d6dd29a323ab0f8ba2e6f9523&rid=giphy.gif&ct=g");
}

.menu {
    margin: 58px;
}


/*Home page*/

.info_main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0 1px 20px 7px #4b3c76;
    background-image: url("https://media2.giphy.com/media/Y3MLVPRtnzpbygOqef/giphy.gif?cid=ecf05e47zv7yfqusa7a98ntsmbe6nbr54r7copj296xa5cxn&rid=giphy.gif&ct=g");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.info {
    width: 1000px;
    height: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 60px;
    padding: 20px;
    background: rgba(255,255,255,0.01);
    backdrop-filter: blur(8px);
    box-shadow: 0 1px 20px 2px #261556;
    color: #dbeaff;
    font-size: 23px;
}

.game {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 40px;
    height: 385px;
    width: 385px;
    box-shadow: 0 1px 20px 2px #261556;

}

/*Game*/
.game_rules {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0 1px 20px 7px #4b3c76;
    background-image: url("https://media2.giphy.com/media/Y3MLVPRtnzpbygOqef/giphy.gif?cid=ecf05e47zv7yfqusa7a98ntsmbe6nbr54r7copj296xa5cxn&rid=giphy.gif&ct=g");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


}

.object {
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow: 0 1px 20px 2px #261556;
    margin: 58px;
    padding: 41px;
    color: #dbeaff;

}

.rules {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow: 0 1px 20px 2px #261556;
    margin: 58px;
    padding: 41px;
    color: #dbeaff;

}

.insight {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow: 0 1px 20px 2px #261556;
    margin: 58px;
    padding: 41px;
    color: #dbeaff;
}

#slideshow {
    overflow: hidden;
    height: 510px;
    width: 728px;
    margin: 0 auto;
}

.slide {
    float: left;
    height: 510px;
    width: 728px;
}

.slide-wrapper {
    width: calc(728px * 4);
    animation: slide 13s ease infinite;
}

@keyframes slide {

    20% {
        margin-left: 0;
    }

    40% {
        margin-left: calc(-728px * 1);
    }

    60% {
        margin-left: calc(-728px * 2);
    }

    80% {
        margin-left: calc(-728px * 3);
    }
}



/*About us*/

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0 1px 20px 7px #4b3c76;
    background-image: url("https://media2.giphy.com/media/Y3MLVPRtnzpbygOqef/giphy.gif?cid=ecf05e47zv7yfqusa7a98ntsmbe6nbr54r7copj296xa5cxn&rid=giphy.gif&ct=g");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.hey {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 48px;

}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    padding-bottom: 60px;
}

.card {
    width: 296px;
    height: 422px;
    transform-style: preserve-3d;
    position: relative;
    transition: transform .75s;
    -moz-transition: tranform .075s;
    -webkit-transition: transform .75s;
cubic-bezier(0.4, 0.03, 0.5, 0.9);
}

.team_member {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    text-align: center;
    object-fit: cover;
    outline: 7px solid #0a035a;
    backface-visibility: hidden;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}

.team_member:nth-child(2),
.card:hover {
    transform: rotate3d(1, 1, 0, 180deg);
}

#middle{
    display: flex;

    align-items: center;
    flex-direction: column;
}


/*login*/
.login {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    color:#f2e5dc;
}

.login_box {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 75px 0 75px 0;
    margin: 120px 0 100px 0;
    box-shadow: 0 1px 20px 7px #4b3c76;
    background-image: url("https://media2.giphy.com/media/Y3MLVPRtnzpbygOqef/giphy.gif?cid=ecf05e47zv7yfqusa7a98ntsmbe6nbr54r7copj296xa5cxn&rid=giphy.gif&ct=g");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color:#f2e5dc;

}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    margin: 5px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow: 0 1px 20px 2px #261556;
    color:#f2e5dc;
    width: 500px;
    border-radius: 5px;

}

span{
    color:#f2e5dc;
}

.wrapper .title {
    line-height: 80px;
    padding-left: 50px;
    border-radius: 5px 5px 0 0;
    font-size: 25px;
    color: #000;
    font-weight: 600;
}

.wrapper form {
    padding: 30px 12px 25px 20px;
}

.wrapper form .row {
    margin-bottom: 25px;
}

.wrapper form .row_button {
    display: flex;
    justify-content: center;
}

/*CSR*/
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0 1px 20px 7px #4b3c76;
    background-image: url("https://media2.giphy.com/media/Y3MLVPRtnzpbygOqef/giphy.gif?cid=ecf05e47zv7yfqusa7a98ntsmbe6nbr54r7copj296xa5cxn&rid=giphy.gif&ct=g");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


}
.container_csr{
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(8px);
    box-shadow:  0 1px 20px 2px #261556;
    margin: 58px;
    padding: 41px;
    color: #dbeaff;

}


.main_idea_title{
    text-align: center;
}


/*static*/

.statistics{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0 1px 20px 7px #4b3c76;
    background-image: url("https://media2.giphy.com/media/Y3MLVPRtnzpbygOqef/giphy.gif?cid=ecf05e47zv7yfqusa7a98ntsmbe6nbr54r7copj296xa5cxn&rid=giphy.gif&ct=g");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.static{
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(8px);
    box-shadow:  0 1px 20px 7px #261556;
    margin: 58px;
    padding: 41px;

}








/*footnote*/
.copyright {
    font-weight: bold;
    color: #21007e;
    font-size: large;
    display: flex;
    flex-wrap: wrap;
    margin: 50px 20%;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 25px;
}
